<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioTeapot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <AudioTeapot.Properties.Settings>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoConnectExecutableName" serializeAs="String">
                <value />
            </setting>
            <setting name="InputMixVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WhisperVolume" serializeAs="String">
                <value>-40</value>
            </setting>
            <setting name="NetduettoVolume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioSampleFormat" serializeAs="String">
                <value>16bit 整数</value>
            </setting>
        </AudioTeapot.Properties.Settings>
    </userSettings>
</configuration>